body{
  background:url(background.gif);
  background-size: cover;
  font-family: 'Grenze Gotisch';
  text-align: center;


}


img{
display: inline-grid;
margin-left: auto;
margin-right: auto;
width:auto;




}

p,div,h1{
  text-shadow: 3px 3px white;
}


a:link{
  color: #FFFDD0;
  text-decoration: none;
}

a:visited{
  color: #FFFDD0;
  text-decoration: none;
}
