body{
  background:url(background.gif);
  background-size: cover;
  font-family: 'Grenze Gotisch';
  text-align: center;
  color:#FFFDD0;

}

h1,p{
  text-shadow: 3px 3px #FFFDD0;
}
div{
    text-align: center;
    font-family:'Grenze Gotisch';
    font-size:50px;
    color: #FFFDD0;
    padding: 20px;



}
.q1-container{
  margin:auto;
  display:inline-grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-row-gap: 50px;
  grid-column-gap: 50px;



}
.opt1{
  background: url(boxback.gif);
  background-size: cover;
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height:350px;
  font-family:'Grenze Gotisch';

}

.opt1:hover{
  ;

}
.opt2{
  background: url(boxback.gif);
  background-size: cover;
  margin: inherit;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;

}

.opt2:hover{
  ;


}
.opt3{
  background: url(boxback.gif);
  background-size: cover;
  margin: inherit;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;


}

.opt3:hover{
  ;


}
.opt4{
  background: url(boxback.gif);
  background-size: cover;
  margin: inherit;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.opt4:hover{
  ;

}

a:link{
  color: #FFFDD0;
  text-decoration: none;
}

a:visited{
  color: #FFFDD0;
  text-decoration: none;
}

@media only screen and (max-width: 950px) {
  .q1-container {
    display: flex;
    flex-direction: column;
  }
}
