body{
  background: url(background.gif);
  font-family: 'Grenze Gotisch';
  text-align: center;
  background-size: cover;

}

div{
    text-align: center;
    font-family:'Grenze Gotisch';
    font-size:50px;
    color: #FFFDD0;
    padding: 20px;
    opacity: .95;


}
.q1-container{
  margin:auto;
  display:flex;



}
.opt1{
  background: url(animecry.gif);
  background-size: cover;
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  font-family:'Grenze Gotisch';

}

.opt1:hover{


}
.opt2{
  background: url(animespin.gif);
  background-size: cover;
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;

}

.opt2:hover{



}
.opt3{
  background: url(ATLA3.gif);
  background-size: cover;
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;


}

.opt3:hover{



}

a:link{
  color: #FFFDD0;
  text-decoration: none;
}

a:visited{
  color: #FFFDD0;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .q1-container {
    flex-direction: column;
  }
}
