
div{
    text-align: center;
    font-family:'Grenze Gotisch';
    font-size:50px;
    color: #FFFDD0;
    padding: 20px;


}
.q1-container{
  margin:auto;
  display:flex;



}
.opt1{
  background: rgb(105,125,225);
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  font-family:'Grenze Gotisch';

}

.opt1:hover{
  background:rgb(105,125,255);

}
.opt2{
  background: rgb(105,125,225);
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;

}

.opt2:hover{
  background:rgb(105,125,255);


}
.opt3{
  background: rgb(105,125,225);
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;


}

.opt3:hover{
  background:rgb(105,125,255);


}

a:link{
  color: #FFFDD0;
  text-decoration: none;
}

a:visited{
  color: #FFFDD0;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .q1-container {
    flex-direction: column;
  }
}
