@font-face { font-family: Mastodon; src: url('MASTOD_.otf'); }

nav {
  font-family: Mastodon;
  background-color:white;

}

a{
font-size: 20px;
color: #03AABF;
}
body{
  background-color: #03AABF
}
h1{
background-color:#03AABF;
color: white;
font-family: 'Montserrat';
text-align: center;
padding: 25px;
font-size: 44px;
}
p{
  text-align: center;
  font-size: 24px;
  color: #03AABF;
}
.container{
  display: flex;
  justify-content: center;
}
iframe{
  justify-content: justify;
}
