head{
  background:url(SUbackground.png);
}
img{
  display: flex;


}

p{
  text-align: center;
}

a:link{
  color: #FFFDD0;
  text-decoration: none;
}

a:visited{
  color: #FFFDD0;
  text-decoration: none;
}
